/* base colors for heatmap -> 1 - 6 , 1 being the most important */
:root {
  --imp-1: #404040; 
  --imp-2: #595959; 
  --imp-3: #737373; 
  --imp-4: #A6A6A6; 
  --imp-5: #d6d6d6;
  --imp-6: #F2F2F2; 
}

/* base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
  color: white;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* clearfix */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}


/* heatmap */

/* navigation */
.navigation {
  height: 12rem;
  background-color: var(--imp-4); 
}

/* article */
.container {
  position: relative;
}

.article {
  float: left;
  display: block;
  width: 50%;
  border: 5px solid white;
  height: 40rem;
}

.article__left {
  background-color: var(--imp-2);
}

.article__right {
  background-color: var(--imp-3);
}

.title__focus {
  position: absolute;
  width: 30rem;
  height: 8rem;
  background-color: var(--imp-1);
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* membership */
.membership {
  height: 50rem;
  background-color: var(--imp-4);
  border: 5px solid white;
}

/* article secondary */
.article__secondary {
  width: 33.3%;
  float: left;
  height: 30rem;
  background-color: var(--imp-5);
  border: 5px solid white;
}

/* subscribe */
.login {
  position: relative;
}

.shutterstock {
  background-color: var(--imp-4);
  width: 25rem;
  height: 30rem;
  float: left;
  margin-left: 15rem;
  margin-top: 10rem;
}


.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 5px solid white;
  float: right;
  background-color: var(--imp-3);
  width: 90rem;
  height: 70rem;
  margin-right: 2rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
  padding: 5rem;
}


.subscribe__article {
  margin-top: 10rem;
  height: 65rem;
}

.subscribe__article h3 {
  text-align: center;
  margin-top: 5rem;
}

.subscribe__article p {
  margin-top: 4rem;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 70rem;
}



.container__people {
  height: 60rem;
  border: 5px solid white;
}

.person {
  width: 50%;
  float: left;
  height: 30rem;
  background-color: var(--imp-6);
  border: 5px solid white;
}

.main__person {
  float: none;
  width: 100%;
  background-color: var(--imp-5);
  height: 40rem;
  padding-left: 40rem;
}

.main__person h4 {
  font-size: 2.5rem;
  margin: 4rem 0;
}

.main__person p {
  line-height: 1.8;
  width: 70%;
}

.content {
  height: 50rem;
  background-color: var(--imp-5);
}

/* footer */

.footer {
  height: 60rem;
  background-color: var(--imp-4);
}

/* typography formatting */
.navigation {
  padding-top: 3rem;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

.article h2 {
  margin-top: 20%;
  text-align: center;
}

p {
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
  font-size: 2rem;
}

.membership p {
  padding-left: 14rem;
  margin-top: 8rem;
  width: 50%; 
}

.shutterstock p {
  text-align: center;
  width: 80%;
  padding-top: 8rem;
  padding-left: 4rem;
}

.subscribe p{
  width: 50%;
  text-align: center;
  align-self: center;
  margin-top: 4rem;
  line-height: 1.8;
}

.preview p{
  width: 50%;
  text-align: center;
  align-self: center;
  margin-top: 4rem;
  line-height: 1.8;
  padding-left: 0;
}

h3 {
  font-size: 3rem; 
}

.article__secondary h3 {
  width: 90%;
  padding: 2rem 4rem; 
}

.article__secondary p {
  padding: 0 4rem; 
}
